DJANGO_SECRET_KEY=change-me-to-a-random-secret
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=*

DB_NAME=smart_e_learning_2
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432

# مفتاحك الحقيقي من https://aistudio.google.com/apikey
GEMINI_API_KEY=your_real_gemini_key_here
